.container {
    width: 1024px;
    margin: 0 auto;
  }
body {
    padding: 0;
    margin: 0 ;
    /* margin-left: 10px; */
    /* margin-right: 10px; */
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 133%;
}


h1{
    text-align: center;
    color: whitesmoke;
    background-color: rgb(43, 43, 43);
    border-bottom: 1px solid #aaa;
    padding: 20px 0;
    margin: 0;
    margin-bottom: 20px;
}

section#main-bio, section#bio-image, section#contact-info{
    /* /font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet M */
    /* padding: 0px; */
    float: left;
    /* padding-right: 10px; */
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
}
/* #bio-image {
    float:left
} */
section#contact-info {

    /* margin-left: 60% ; */
    /* width: 250px; */
    /* float: left ; */
    /* text-align: right; */
    /* margin-top: 20px; */
    font-size: 100%;
    /* padding-inline-start: 0px */
    /* margin: auto; */
}
ul.contact-info-list {
    list-style-type: none;
    /* padding-inline: 10px; */
    /* text-align: ; */
    /* padding-inline-end: 10px; */
    padding-inline-start: 0px;
}
